<div id="error_message" style="color: red;display:none"></div>
<div class="row">

      <div class="row">
        <div class="input-field col s4 offset-s3">
          <input placeholder="Date" id="date" type="text" class="validate">
          <label for="select_date" class="active">Select Date</label>
        </div>
      </div>
<div id="cont">

</div>

      <div class="row" id="container" style="display:none">

        <div class="input-field col s6 offset-s3">
          <input placeholder="Placeholder" id="goal" type="text" class="validate">
          <label for="select_date">Goal for selected date</label>
        </div>
      </div>
  </div>

<script>
  $(document).ready(function(){
    $('#date').datepicker({
      "maxDate": "+1w",
      "minDate": "0",
      onSelect: function(date){
        $.ajax({
          url:'/fetch_wish',
          contentType: "application/json; charset=utf-8",
          data: {date: date},
          success: function(){
          },
          error: function(){
          }
        });
      }
    });
  });
</script>
